## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build output
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## .NET
*.nupkg
*.snupkg
TestResults/
coverage/

## OS files
Thumbs.db
Desktop.ini
